#header_container{
    color:hsl(30, 25%, 89%);
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.left_header{
    display: flex;
    align-items: center;
}

.right_header{
    width: 25%;
    display: flex;
    justify-content: space-between;
}

.slide_section{
    width:50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.theme{
    font-size:12px;
    display: flex;
    align-items: center;
}

.slide_choices{
    font-size: 14px;
    display: flex;
    justify-content: space-around;
}

.slide_bar{
    height:30%;
    width: 100%;
    background-color: hsl(223, 31%, 20%);
    border-radius: 10px;
    display: flex;
    align-items: center;
    position:relative;
}

.choice{
    width: calc(100% / 3);
    height:100%;
}

.slide_button{
    height: 12px;
    width: 12px;
    position:absolute;
    background-color: hsl(6, 63%, 50%);
    border-radius: 50%;
    margin-left: 5px;
    transition: all 0.5s ease;
}
