@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
 --border-radius: 7px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height:100vh;
  width: 1440px;
  font-size: 2em;
  background-color: hsl(222, 26%, 31%);
  display: flex;
  justify-content: center;
  align-items: center;
}

#container{
  width: 500px;
  height: 80vh
}



/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */ 
