@import '../../variables.scss';

.screen{
    height: 18%;
    border-radius: $border-radius;
}

.screen.theme_1{
    @extend .screen;
    background-color:$theme1_screen;
}

.screen.theme_2{
    @extend .screen;
    background-color:$theme2_screen;
}

.screen.theme_3{
    @extend .screen;
    background-color:$theme3_screen;
}